/.metadata/*
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
/.recommenders/*
princessCruise/princessCruise/logs/*
princessCruise/princessCruise/test-output/*
princessCruise/target/*
/target/
